.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 200px;
}

.nav-items {
    padding: 0px 20px; 
}

.nav-items > ul {
    font-size: 20px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
}

.restaurant-card {
    padding: 10px;
    margin: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

.restaurant-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.restaurant-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid black;
}

.restaurant-card h3,
.restaurant-card h4 {
    margin: 5px 5px; /* Adjust margin for better spacing */
}

.search {
    padding: 10px;
}

.restaurant-img {
    width: 100%;
}